@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: black;
  color: white;
  border-color: rgb(47, 51, 54);
  padding-left: 16px;
  font-family: "Cantarell", sans-serif;
  max-width: 850px;
}

.wd-border {
  border: 1px solid rgb(47, 51, 54);
}

.wd-padding-left {
  padding-left: 20px;
}

.wd-named {
  width: 100%;
}

.wd-search-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.wd-search {
  color: white;
  background-color: #202327;
  width: 75%;
  height: 40px;
  border-radius: 50px;
  border: none;
  padding-inline: 5% 10%;
  writing-mode: horizontal-tb;
  padding-left: 16px;
}
.wd-settings {
  text-decoration: none;
  font-size: 40px;
  margin: -10px 12px;
  float: right;
  display: block;
}

.wd-links-container {
  display: inline;
}

.wd-ul {
  display: inline;
}

.wd-link {
  display: inline-block;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.wd-link-highlight {
  display: inline-block;
  padding: 16px;
  font-size: 15px;
  text-decoration: none;
  color: rgb(29, 161, 242);
  border-bottom: rgb(29, 161, 242);
  border-bottom-style: solid;
}

.wd-link-item {
  display: block;
  padding: 16px;
  font-size: 15px;
  text-decoration: none;
  color: rgb(110, 118, 125);
  font-weight: bold;
}

.wd-suggested {
  list-style-type: none;
  text-align: left;
}

.wd-topic {
  font-size: 15px;
  color: rgb(110, 118, 125);
  margin-top: 5px;
  margin-bottom: 5px;
}

.wd-heading {
  font-size: 18px;
  margin-top: 10px;
}

.wd-info {
  font-size: 20px;
  margin: 0px 16px;
  float: right;
  display: block;
}

.wd-content {
  display: inline-block;
  width: 100%;
}

.wd-logo {
  width: 23px;
  height: 23px;
  display: inline-block;
  vertical-align: text-top;
}

.wd-image-container {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.wd-image {
  width: 100px;
  height: 100px;
  margin-top: 10;
  float: right;
  object-fit: cover;
  border-radius: 10px;
}
