@import url("https://fonts.googleapis.com/css2?family=Cantarell:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  background-color: black;
  color: white;
  border-color: rgb(47, 51, 54);
  padding-left: 16px;
  font-family: "Cantarell", sans-serif;
  max-width: 850px;
}

.page {
  border: 1px solid rgb(47, 51, 54);
}

.wd-padding-left {
  padding-left: 10px;
}

.wd-info {
  font-size: 20px;
  margin: 0px 16px;
  float: right;
  display: block;
}

.wd-title {
  font-size: 20px;
  color: white;
}

.wd-topic {
  font-size: 15px;
  color: rgb(110, 118, 125);
  margin-bottom: 5px;
}

.wd-user-image {
  width: 48px;
  height: 48px;
  border-radius: 48px;
  display: inline;
}

.wd-username {
  font-size: 15px;
  color: rgb(110, 118, 125);
}

.wd-name {
    color: white;
}

.wd-content {
    display: inline-block;
    width: 100%;
  }

.wd-image-container {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.wd-paragraph {
    font-size: 15px;
    text-align: justify;
}